@import "../../abstract/abstract";

.checkout {
    background-color: #f2f2f2;
    padding: 4.5rem 3rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2rem;

    &__finalizar {
        width: 100%;
        max-width: 150rem;
        padding: 6rem 4rem;
        background-color: white;
        gap: 2rem;

        & form {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            gap: 2rem;

            @include respond(medium) {
                gap: 4rem;
            }

            @include respond(small) {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        &-total,
        &-cupom,
        &-form,
        &-cashback,
        &-quantidade {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-h2 {
            font-weight: 700;
            font-size: 2.4rem;
            font-family: serif;
        }

        &-btn {
            button {
                font-size: 1.4rem;
                @extend %btn;

                border-radius: 0;
                width: 100%;
                margin: 0;
            }
        }
    }

    &__btn {
        &-voltar,
        &-endereco {
            cursor: pointer;
            background: none;
            background-color: none;
            text-transform: uppercase;
            text-decoration: none;
            color: inherit;
            border: 1px solid $cor-cinza-claro;
            transition: background-color ease 0.2s;
        }

        &-voltar {
            padding: 1.5rem;
            align-self: flex-end;
            &:hover {
                background-color: rgba(255, 255, 255, 0.7);
            }

            @include respond(small) {
                align-self: center;
            }
        }

        &-endereco {
            padding: 1rem;

            &:hover {
                background-color: rgb(244, 244, 244);
            }
        }
    }

    input::-webkit-inner-spin-button {
        display: none;
    }

    &__email-endereco {
        display: flex;
        flex-flow: column;
        gap: 5rem;
        width: 100%;
        max-width: 40rem;

        &--logado {
            & .checkout__email-div {
                display: none;
            }
        }

        & div {
            font-size: 1.3rem;
            position: relative;
        }
    }

    &__email {
        & input {
            width: 100%;
            padding: 1.3rem 1rem;
            border: 1px solid $cor-cinza-claro;
            border-radius: 5px;

            &:focus-visible {
                outline: none;
            }
        }

        & label {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(10px, -50%);
            background-color: white;
            padding: 0 0.2rem;
        }

        &-div {
            display: flex;
            flex-flow: column;
            gap: 2rem;
        }
    }

    &__endereco {
        display: flex;
        flex-flow: column;
        gap: 1.5rem;

        &-div {
            display: flex;
            flex-flow: column;
            gap: 2rem;

            & input {
                width: 100%;
                padding: 1.3rem 1rem;
                border: 1px solid $cor-cinza-claro;
                border-radius: 5px;

                &:focus-visible {
                    outline: none;
                }
            }

            & label {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(10px, -50%);
                background-color: white;
                padding: 0 0.2rem;
            }
        }

        &-inputs {
            display: flex;
            flex-flow: column;
            gap: 1.5rem;
        }

        &.--abrir {
            & .checkout__endereco-inputs {
                display: flex;
            }
        }

        &-cadastrado {
            display: flex;
            flex-flow: column;
            gap: 1.5rem;

            & div {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }

        &-btn {
            button {
                font-size: 1.4rem;
                @extend %btn;

                border-radius: 0;
                width: 100%;
                margin: 0;
            }
        }
    }

    &__pagamento {
        display: flex;
        flex-flow: column;
        gap: 1.5rem;
        min-width: 22.8rem;

        h2 {
            padding-bottom: 0.5rem;
        }
    }

    &__infos {
        display: flex;
        flex-flow: column;
        width: 35rem;

        & div:not(:last-child) {
            padding: 2rem 0;
        }

        & div ~ div:not(:last-child) {
            border-top: 1px solid $cor-cinza;
        }
    }

    &__pgm-infos {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        width: max(59rem, 58.8rem + (100vw - 111.2rem) / 2);
        max-width: 81.48rem;

        @include respond(medium) {
            width: 30rem;
            flex-flow: wrap;
            gap: 4rem;
        }
    }
}
