@import "../../abstract/abstract";

.item {
    padding-left: 3rem;
    display: flex;
    justify-content: center;

    @include respond(medium) {
        padding-left: 1rem;
    }

    @include respond(small) {
        padding: 2rem;
        padding-top: 0;
    }

    &__container {
        display: flex;
        gap: 2rem;
        max-width: 200rem;

        @include respond(medium) {
            gap: 1rem;
        }

        @include respond(small) {
            flex-flow: column wrap;
            align-items: center;
        }
    }

    &__imgs {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;
        overflow: hidden;
        @include respond(small) {
            padding-bottom: 2rem;
        }

        &-trilho {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            transition: all 0.3s ease;

            @include respond(small) {
                flex-wrap: nowrap;
                gap: 0;
            }
        }
    }

    &__img {
        display: flex;
        width: calc(50% - 0.25rem);
        aspect-ratio: 502.3/753.45;

        @include respond(small) {
            min-width: 100%;
        }

        img {
            aspect-ratio: 502.3/753.45;
            width: 100%;
            cursor: pointer;
        }
    }

    &__botao-trilho {
        display: none;
        background-color: $cor-cinza-claro;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        cursor: pointer;

        &--selecionado {
            background-color: $cor-cinza-mais-claro;
        }

        @include respond(small) {
            display: block;
        }
    }

    // INfos
    &__infos {
        min-width: 33%;
        padding-right: 2rem;
        display: flex;
        flex-flow: column;
        gap: 1.5rem;

        @include respond(small) {
            gap: 3.5rem;
        }
    }

    &__caminho {
        font-size: 1.2rem;
        color: $cor-cinza;
        text-transform: capitalize;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        &-link {
            text-decoration: none;
            color: inherit;
            position: relative;

            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 1px;
                width: 0;
                background-color: $cor-cinza;
                transition: all ease-in 0.3s;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }

    &__nome {
        margin: 1.66vw 0;
        text-transform: capitalize;
        font-weight: 700;
        font-family: serif;
        line-height: 1;

        @include respond(small) {
            margin: 0;
        }
    }

    &__info-preco {
        display: flex;
        align-items: center;
        gap: 3.47vw;
        padding: 1.5rem;
        border: 1px solid $cor-cinza-claro;
        border-radius: 4px;
    }

    &__botao {
        height: 2.8rem;
        width: 2.8rem;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid black;
        background: white;
        padding: 0.4rem;

        @include flex($flow: row);

        & div {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background-color: black;
        }
    }

    &__preco {
        display: flex;
        flex-flow: column;
        gap: 0.7rem;

        &-titulo {
            font-size: 1.7rem;
            color: $cor-outro-cinza;
        }

        &-div {
            display: flex;
            height: 3.5rem;
            align-items: center;
            gap: 1.5rem;
            font-size: 2.2rem;

            @include respond(medium) {
                font-size: 2.1rem;
            }
        }

        &-barra {
            height: 100%;
            width: 0.5px;
            background-color: black;
        }

        &-ant {
            text-decoration: line-through;
            color: $cor-outro-cinza;
        }

        &-nov {
            font-weight: 600;
        }

        & span {
            font-size: 1.2rem;
            vertical-align: text-top;
        }
    }

    &__cashback {
        border: 1.5px solid $verde;
        font-size: 1.2rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        width: max-content;

        span {
            font-weight: 700;
        }
    }

    &__titulo {
        font-size: 1.4rem;

        &-cor {
            text-transform: uppercase;
        }
    }

    &__lista {
        display: flex;
        flex-flow: column;
        gap: 0.5rem;
    }

    &__cores {
        list-style: none;

        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 1rem;

        li {
            position: relative;
        }
    }

    &__input-cor,
    &__cor {
        height: 3.2rem;
        width: 3.2rem;
    }

    &__cor {
        border-radius: 50%;
        border: 1px solid black;
    }

    &__input-cor {
        cursor: pointer;
        position: absolute;
        opacity: 0;

        &:checked + div {
            transition: transform ease 0.2s;
            border-width: 3px;
            transform: scale(1.2);
        }
    }

    &__tamanhos {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 1rem;
        max-width: 60%;

        @include respond(small) {
            max-width: none;
        }
    }

    &__input-tamanho,
    &__tamanho {
        height: 3.2rem;
        width: 3.2rem;

        li {
            position: relative;
        }
    }

    &__input-tamanho {
        cursor: pointer;
        position: absolute;
        opacity: 0;

        &:checked + div {
            background-color: black;
            color: white;
        }

        &:disabled + div {
            color: $cor-cinza-claro;
            position: relative;
            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 90%;
                width: 2px;
                background-color: $cor-cinza-claro;
                transform: rotate(45deg);
            }
        }
    }

    &__tamanho {
        @include flex();

        font-weight: 700;
        font-size: 1.3rem;
        border: 1px solid $cor-cinza-claro;
    }

    &__add {
        @extend %btn;

        @include respond(small) {
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 9;
            margin: 0;
            padding: 3rem 2.5rem;
            border-radius: 0;
            font-weight: 700;
        }
    }

    &__subtitulo {
        font-size: 1.6rem;
        font-family: serif;
        font-weight: 700;
        margin-bottom: 3rem;

        span {
            color: $verde;
        }

        @include respond(small) {
            margin-bottom: 1rem;
        }
    }

    &__descricao {
        display: flex;
        flex-flow: column;
        gap: 1rem;

        &-titulo {
            font-family: sans-serif;
            text-transform: uppercase;
            line-height: 1;
            color: $cor-cinza;

            &--topo {
                padding: 1.5rem 0rem;
                border-top: 1px solid $cor-cinza-claro;
                border-bottom: 1px solid $cor-cinza-claro;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                font-weight: 600;

                @include respond(small) {
                    padding: 2.5rem 0rem;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 1.5rem;
                    height: 1.5rem;
                    background-image: url("../../images/right-arrow-svgrepo-com.svg");
                    background-position: 50%;
                    background-repeat: no-repeat;
                    transform: rotate(90deg);
                    background-size: contain;
                    padding-right: 1rem;

                    transition: transform ease-in-out 0.3s;
                }
            }
        }

        &-desc {
            line-height: 1.8;
            display: flex;
            padding-right: 1rem;
            flex-flow: column;
            gap: 2rem;
            transition: max-height ease-in-out 0.3s;
            max-height: 0;
            overflow: hidden;
        }

        &--abrir {
            & .item__descricao-titulo--topo {
                &::after {
                    transform: rotate(-90deg);
                }
            }

            & .item__descricao-desc {
                border-bottom: 1px solid $cor-cinza-claro;
                max-height: 100rem;
            }
        }
    }
}

.itens-similares {
    display: flex;
    justify-content: center;
    &__container {
        padding: 3rem;
        max-width: 200rem;
        width: 100%;
        @include flex($a-items: start, $gap: 2rem);
    }

    &__produtos {
        @include grid($flow: column, $gap: 4rem, $a-items: start);

        @include respond(medium) {
            grid-template-rows: 1fr 1fr;
        }

        & > a {
            max-width: 40rem;
        }
    }
}
